<%= javascript_include_tag '/demo/DemoPage'%>
<%= javascript_include_tag '/demo/Test_Blockinfo' %>
<%= javascript_include_tag '/demo/Test_Overlay' %>
<%= javascript_include_tag '/demo/Test_Groundlay' %>
<%= javascript_include_tag '/demo/Boluo_Blockinfo' %>
<%= javascript_include_tag '/demo/Boluo_Overlay' %>
<%= javascript_include_tag '/demo/Boluo_Groundlay' %>


<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <title>DEMO|SoshineSee</title>

  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=NccogPfKH2hGdsARVdK7lsVvNao7Y4Hm"></script>
  <script type="text/javascript" src="/demo/convertor.js"></script>

</head>
<div class="container">
  <div class="row clearfix">
    <!--侧边栏-->
    <div class="col-md-2 column">
      <!--侧边栏|折叠-->
      <div class="panel-group" id="panel-100">
        <div class="panel panel-default">
          <div class="panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">地块列表</h3>
            </div>
          </div>

          <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" data-parent="#panel-100"
               href="#panel-element-101" onclick="focus_boluo_A()">博罗县</a>
          </div>
          <div id="panel-element-101" class="panel-collapse collapse">
            <div id="boluo_block_A_1" class="panel-body"
                 onmouseover="add_overlay_boluo_A()" onmouseout="clear_overlay()">
              1-1地块细化示例区域
            </div>
          </div>

          <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" data-parent="#panel-100"
               href="#panel-element-102">地块B1</a>
          </div>
          <div id="panel-element-102" class="panel-collapse collapse">
            <div id="boluo_block_B1_1" class="panel-body">
              <a onclick="add_overlay_boluo_B1_1()">新主楼</a>
            </div>
          </div>

          <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" data-parent="#panel-100"
               href="#panel-element-103">地块B2</a>
          </div>
          <div id="panel-element-103" class="panel-collapse collapse">
            <div id="boluo_block_B2_1" class="panel-body">
              <a onclick="add_overlay_boluo_B2_1()">新主楼</a>
            </div>
          </div>

          <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" data-parent="#panel-100"
               href="#panel-element-111" onclick="focus_test_A()">北京航空航天大学</a>
          </div>
          <div id="panel-element-111" class="panel-collapse collapse">
            <div id="block_test_A_1" class="panel-body"
                 onmouseover="add_overlay_test_A_1()" onmouseout="clear_overlay()">
              新主楼
            </div>
            <div id="block_test_A_2" class="panel-body"
                 onmouseover="add_overlay_test_A_2()" onmouseout="clear_overlay()">
              老教学区
            </div>
            <div id="block_test_A_3" class="panel-body"
                 onmouseover="add_overlay_test_A_3()" onmouseout="clear_overlay()">
              体育馆游泳馆
            </div>
            <div id="block_test_A_4" class="panel-body"
                 onmouseover="add_overlay_test_A_4()" onmouseout="clear_overlay()">
              操场
            </div>
            <div id="block_test_A_5" class="panel-body"
                 onmouseover="add_overlay_test_A_5()" onmouseout="clear_overlay()">
              北区
            </div>
            <div id="block_test_A_6" class="panel-body"
                 onmouseover="add_overlay_test_A_6()" onmouseout="clear_overlay()">
              大运村
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" data-parent="#panel-100"
               href="#panel-element-112" onclick="focus_test_B()">首欣科技</a>
          </div>
          <div id="panel-element-112" class="panel-collapse collapse">
            <div id="block_test_B_2" class="panel-body"
                 onmouseover="add_overlay_test_B_2()" onmouseout="clear_overlay()">
              世宁大厦
            </div>
            <div id="block_test_B_3" class="panel-body"
                 onmouseover="add_overlay_test_B_3()" onmouseout="clear_overlay()">
              学院国际大厦
            </div>
            <div id="block_test_B_4" class="panel-body"
                 onmouseover="add_overlay_test_B_4()" onmouseout="clear_overlay()">
              致真大厦
            </div>
          </div>
        </div>

      </div>

      <!--侧边栏|信息-->
      <div class="info">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">地块信息</h3>
          </div>
          <div class="panel-body">
            <h5 id="blockname"> <br> </h5>
            <h5 id="corpinfo"> <br> </h5>
            <h5 id="timeinfo"> <br> </h5>
          </div>
          <div class="panel-footer">
            <h5 id="locinfo"> <br> </h5>
          </div>
        </div>
      </div>


    </div>
    <!--主体-->
    <div class="col-md-10 column">
      <!--地图-->
      <div class="jumbotron">
        <div id="demomap">
          <div id="allmap">

          </div>
        </div>

      </div>
      <!--日期-->
      <!--类型-->
      <div class="btn-group-vertical" id="mapchoice">
        <button type="button" class="btn btn-default" id="btn_nc" onclick="btn_nc()">NC</button>
        <button type="button" class="btn btn-default" id="btn_val" onclick="btn_val()">VAL</button>
        <button type="button" class="btn btn-default" id="btn_nvdi" onclick="btn_nvdi()">NVDI</button>
        <button type="button" class="btn btn-default" id="btn_other" onclick="btn_spec()">SPEC</button>
      </div>
      <!--工具-->
      <div class="btn-group" id="maptools">
        <button type="button" class="btn btn-default" id="btn_ruler" onclick="btn_ruler()">测距</button>
        <button type="button" class="btn btn-default" id="btn_draw" onclick="btn_draw()">绘图</button>
        <button type="button" class="btn btn-default" id="btn_go" onclick="btn_go()">GO</button>
      </div>


    </div>
  </div>
</div>
<script>
  // 百度地图API功能
  var map = new BMap.Map("allmap",{mapType:BMAP_HYBRID_MAP});    // 创建Map实例

  map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  // 初始化地图,设置中心点坐标和地图级别
  //map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
  map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
  map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
  map.addEventListener("click",function(e){alert(e.point.lng + "," + e.point.lat);});

  var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
  var top_left_navigation = new BMap.NavigationControl();  //左上角，添加默认缩放平移控件
  map.addControl(top_left_control);
  map.addControl(top_left_navigation);

</script>
